@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin bg-gradient($start-color, $end-color, $direction) {
  background: linear-gradient($direction, $start-color 0%, $end-color 100%);
}