// ===== Pomodoro =====
$p-red: #EA5548;
$p-green: #316901;
$p-black: #333333;
$p-darkgray: #414141;
$p-gray-800: #6E6E6E;
$p-gray-500: #ACACAC;
$p-lightgray-300: #EAEAEA;
$p-lightgray-100: #FCFCFC;
// ===== Pomodoro =====

// ===== FreeCell =====
$fc-black: #222;
$fc-yellow: #ffb53e;
$fc-lightgray: #fcfcfc;
$fc-gray: #e2e2e2;
$fc-darkgray: #ccc;
// ===== FreeCell =====

// ===== OnlinePayment =====
$op-white: #fff;
$op-lightgray: #f3f3f3;
$op-lightgray-bold: #f7f7f7;
$op-gray: #d8d8d8;
$op-darkgray-light: #979797;
$op-darkgray: #afafaf;
$op-darkgray-bold: #5e5e5e;
$op-black: #4b4b4b;
$op-lightgreen: #defff2;
$op-green: #8defcb;
$op-green-lighter: #B5ffe4;
$op-darkgreen: #36b996;
// ===== OnlinePayment =====